<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Detail Paget</title>
</head>
<body>
    <h1>Todo detail should be here - {{todo.name}}</h1>
    
</body>
</html>